.header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.toggle-header {
  width: 300px;
  background: #fff;
  height: 100vh;
  border-right: 1px solid #e6e9ec;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
  display: none;
  z-index: 2000;
}

.hamburger-menu {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 20px;
  right: 20px;
  color: #fff;
  background-color: #0563bb;
  font-size: 20px;
  cursor: pointer;
  z-index: 2000;
}

.nav-menu {
  display: block;
}
.nav-menu li{
  list-style: none;
}
.active.navlink {
  color: #fff;
  background: #0563bb;
}
.navlink {
  display: flex;
  align-items: center;
  height: 56px;
  width: 56px;
  border-radius: 50px;
  margin: 10px;
  background: #f2f3f5;
  color: #45505b;
  transition: 0.3s;
  z-index: 1000;
  overflow: hidden;
  cursor: pointer;
}
.header .nav-menu a > svg {
  font-size: 20px;
  margin: 0 18px 0 20px;
}
.header .nav-menu a > span {
  margin: 0 10px 0 0;
}
.header .nav-menu a > span {
  display: none;
}
.header .nav-menu a:hover {
  width: 100%;
  background: #0563bb;
  color: #fff;
}

.header .nav-menu a:hover span {
  display: block;
}

#home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../../public/img/hero-bg.jpg") 60% 0% no-repeat;
  background-size: cover;
}

#home:before {
  content: "";
  width: 100%;
  height: 100vh;
  background: rgb(255, 255, 255);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  animation: white 2s ease-in;
  transition: opacity 0.5s;
  opacity: 0.7;
}
@keyframes white {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.7;
  }
}
.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  z-index: 200;
}
.container > h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #45505b;
}

.container > p {
  color: #45505b;
  margin-top: 20px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}
.container > p span {
  color: #0563bb;
  margin-left: 5px;
}
.social {
  display: flex;
  gap: 20px;
  font-size: 24px;
  margin-top: 40px;
}
.social > a {
  cursor: pointer;
}
.social a > svg {
  color: #45505b;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}
.social a:hover > svg {
  color: #0563bb;
}

.social a span {
  color: #0563bb;
  font-size: 26px;
}

@media screen and (max-width: 991px) {
  .toggle-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header {
    display: none;
  }
  .hamburger-menu {
    display: flex;
  }
  .toggle-header .nav-menu {
    width: 100%;
  }
  .toggle-header .nav-menu li {
    width: auto;
    margin: 10px;
  }
  .toggle-header ul li > .active {
    background-color: #0563bb;
    color: #fff;
  }
  .toggle-header .navlink {
    width: auto;
    display: flex;
    align-items: center;
    border-radius: 50px;
    margin-bottom: 10px;
    background: #f2f3f5;
    color: #45505b;
    transition: 0.3s;
    z-index: 1000;
    overflow: hidden;
    padding: 0 20px;
    gap: 20px;
  }
  .toogg-header .nav-menu a span {
    display: block;
    margin-left: 10px;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container > h1 {
    font-size: 34px;
    line-height: 40px;
  }
  .social {
    gap: 0;
    font-size: 20px;
  }
}
